* {
    margin: 0;
    padding: 0;
    font-size: 14px;
}

header {
    height: 80px;
    display: flex;
    justify-content:space-around;
    align-items: center;
}

header img {
    height: 20px;
}

header ul {
    width: 331px;
    color: #9597A5;
    list-style: none;
    display: flex;
    justify-content: space-between;
    height: 100%;
}
header ul li {
    display: inline;
    cursor: pointer;
    padding: 33px 0;
}

header ul li:hover {
    border-bottom: 4px solid #30C88F;
}

.botao {
    height: 44px;
    width: 163px;
    color: #ffffff;
    background: rgb(51,211,94);
    background: linear-gradient(103deg, rgba(51,211,94,1) 0%, rgba(42,182,217,1) 100%);
    border-radius: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.botaoHamburguer,.botaoClose {
    display: none;
}

@media (max-width: 375px) {
    .botaoHamburguer {
        display: block;
        height: 11px;
        width: 24px;
    }

    header ul {
        position: absolute;
        top: -100%;
    }

    header ul li {
        font-size: 18px;
        color: #2D314D;
        height: auto;
        padding: 0;
    }

    .listaHamburguer {
        position: absolute;
        top: 80px;
        width: 265px;
        height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 2em;
        align-items: center;
        border: 2px solid black;
        border-radius: 10px;
    }

    .botao {
        display: none;
    }


}